<!DOCTYPE html>
<html>
{{>head}}



<div class="container-fluid">

    <form id="sunForm" method="post">

        <div class="form-group">

            <label for="dataini">
                <h5>Data/Hora:</h5>
            </label>

            <input type="datetime" required class="form-control form-control-lg" id="dataini" name="dataini" size="50"
                placeholder="Digite a data e hora inicial no formato: 2020-02-15T05:11:40.335Z">

            <br>

            <label for="datafim">
                <h5>Data/Hora:</h5>
            </label>

            <input type="datetime" required class="form-control form-control-lg" id="datafim" name="datafim" size="50"
                placeholder="Digite a data e hora final no formato: 2020-02-15T05:11:40.335Z">

            <br>

            <label for="latitude">
                <h5>Latitude:</h5>
            </label>
            <input type="text" required class="form-control form-control-lg" id="latitude" name="latitude"
                placeholder="Digite a latitude">
            <br>

            <label for="logitude">
                <h5>Longitude:</h5>
            </label>
            <input type="text" required class="form-control form-control-lg" id="longitude" name="longitude"
                placeholder="Digite a longitude">

            <label for="sAltura">
                <h5>Altura do obstáculo:</h5>
            </label>
            <input type="text" required class="form-control form-control-lg" id="sAltura" name="sAltura"
                placeholder="Digite a altura do obstáculo">

        </div>


        <div class="row">

            <div class="col-6 align-items-center">

                <button id="submit" type="submit" type="button" class="btn btn-primary btn-center">Cadastrar</button>

            </div>

        </div>

    </form>


    <br>
    <hr>

    <div class="row" style="font-size: 14px;">
        <table>
            <tr>
                <td>Momento</td>
                <td>Elevação</td>
                <td>Azimute</td>
                <td>Comprimento da sombra</td>
                <td>Direção da sombra</td>
            </tr>
            {{#each sunArray}}
            <tr>
                <td>{{ time }}</td>
                <td>{{ elevacao }}</td>
                <td>{{azimute}}</td>
                <td>{{ sComprimento }}</td>
                <td>{{sDirecao}}</td>
            </tr>
            {{/each}}
        </table>
        {{!--         <div class="col">Momento: {{ time }}</div>
        <div class="col">Elevação: {{ elevacao }}</div>
        <div class="col">Azimute: {{azimute}}</div>
        <div class="col">Comprimento da sombra: {{ sComprimento }}</div>
        <div class="col">Direção da sombra: {{sDirecao}}</div> --}}
    </div>


    <br><br><br><br><br>

</div>

</body>

</html>